/.vscode/
/ans/
/build/
/dist/
/*.log
*.tmp
*.swp
*.swo
*.bak
*.pyc
__pycache__/
.DS_Store
Thumbs.db
.idea/
*.out
*.o
*.d
*.obj
*.exe
*.dll
*.so
*.a
*.lib
*.class
*.jar
*.war
*.iml
*.ipr
*.iws
*.user
*.suo
*.ncb
*.pdb
*.idb
*.opendb
*.VC.db
*.vscode/
*.code-workspace
*.env
.env
